#cloud-config
ssh_pwauth: true
disable_root: false

chpasswd:
 list: |
   root:{{root_password}}
   centos:password
 expire: False

write_files:
-   owner: root:root
    path: /etc/sysconfig/network-scripts/ifcfg-eth0
    permissions: '0644'
    content: |
        DEVICE=eth0
        BOOTPROTO=dhcp
        ONBOOT=yes
        #IPADDR=$IP_ADDR
        #NETMASK=$IP_NETMASK
        #GATEWAY=$IP_GATEWAY
        #DNS1=$IP_DNS
        #USERCTL=yes
-   owner: root:root
    path: /etc/selinux/config
    permissions: '0644'
    content: |
        SELINUX=permissive
        SELINUXTYPE=targeted

package_upgrade: true

packages:
  - vim
  - mc
  - deltarpm

#bootcmd:
#  - ifdown eth0
#  - ifup eth0

runcmd:
  - [ hostnamectl, set-hostname, {{hostname}} ]
  - sed -i'.orig' -e's/without-password/yes/' /etc/ssh/sshd_config
  - rm -f /etc/gssproxy/*
  - [ reboot ]

final_message: "This is {{hostname}}, root password is '{{root_password}}'"

#yum_repos:
#  qe-rhel${VERSION:0:1}:
#    baseurl: http://sts.lab.msp.redhat.com/dist/brewroot/repos/qe-rhel${VERSION:0:1}/x86_64
#    enabled: true
#    gpgcheck: false
#    name: qa-rhel7 repository
#  rhel${VERSION}-z:
#    name: z repository for $VERSION
#    baseurl: $Z_REPO_ADDR
#    gpgcheck: false
#    enabled: $ENABLE_Z_REPO
