<domain type="kvm">
  <name>{{hostname}}</name>
  <uuid>7e2516fc-e019-435b-a085-25392378781c</uuid>
  <memory>{{memory}}000</memory>
  <currentMemory>{{memory}}000</currentMemory>
  <vcpu>{{cpus}}</vcpu>
  <os>
    <type arch="x86_64">hvm</type>
    <boot dev="hd"/>
  </os>
  <features>
    <acpi/>
    <apic/>
  </features>
  <cpu mode="custom" match="exact">
    <model>Opteron_G4</model>
  </cpu>
  <clock offset="utc">
    <timer name="rtc" tickpolicy="catchup"/>
    <timer name="pit" tickpolicy="delay"/>
    <timer name="hpet" present="no"/>
  </clock>
  <pm>
    <suspend-to-mem enabled="no"/>
    <suspend-to-disk enabled="no"/>
  </pm>
  <devices>
    <emulator>/usr/libexec/qemu-kvm</emulator>
    <disk type="file" device="disk">
      <driver name="qemu" type="qcow2"/>
      <source file="{{libvirt_images_directory}}/{{hostname}}-delta"/>
      <target dev="vda" bus="virtio"/>
    </disk>
    <disk type="file" device="cdrom">
      <driver name="qemu" type="raw"/>
      <source file="{{libvirt_images_directory}}/{{hostname}}.iso"/>
      <target dev="vdb" bus="virtio"/>
      <readonly/>
    </disk>
    <controller type="usb" index="0" model="ich9-ehci1"/>
    <controller type="usb" index="0" model="ich9-uhci1">
      <master startport="0"/>
    </controller>
    <controller type="usb" index="0" model="ich9-uhci2">
      <master startport="2"/>
    </controller>
    <controller type="usb" index="0" model="ich9-uhci3">
      <master startport="4"/>
    </controller>
    <interface type="network">
      <source network="default"/>
      <model type="virtio"/>
    </interface>
    <graphics type="vnc" port="-1"/>
    <console type="pty"/>
    <memballoon model="virtio"/>
  </devices>
</domain>
